.menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: burlywood;
  padding: 0.5rem;
}

.menu h1 {
  font-size: 4em;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
