.button-group {
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-around;
}

/* .button {
  aspect-ratio: 1 / 1;
  min-width: 4em;
  margin: 0.2em;
} */

.button {
  display: inline-block;
  margin: 0;
  padding: 0;
  min-width: 10em;
  aspect-ratio: 4 / 3;
}
