.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid gray;
  border-radius: 0.3rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 2px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

@media (min-width: 768px) {
  .card {
    max-width: 460px;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 560px;
  }
}

.card img {
  text-transform: capitalize;
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
}
