.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (min-width: 576px) {
  .card {
    max-width: 460px;
  }
}

@media (min-width: 768px) {
  .card {
    max-width: 560px;
  }
}

@media (min-width: 992px) {
  .card {
    max-width: 660px;
  }
}

@media (min-width: 1200px) {
  .card {
    max-width: 760px;
  }
}

@media (min-width: 1400px) {
  .card {
    max-width: 860px;
  }
}

.card img {
  text-transform: capitalize;
  display: block;
  width: 100%;
  aspect-ratio: 4 / 3;
}
