.game {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 1rem;
}

@media (min-width: 992px) {
  .game {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .game {
    max-width: 1140px;
  }
}

.hud {
  display: flex;
}
