.status-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.status-item {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.status-bar:last-child .status-item {
  justify-content: end;
}

.contender-name {
  font-weight: 700;
  font-size: 1.5rem;
}

@media (min-width: 992px) {
  .contender-name {
    font-size: 1.75rem;
  }
}

@media (min-width: 1200px) {
  .contender-name {
    font-size: 2rem;
  }
}

@media (min-width: 1400px) {
  .contender-name {
    font-size: 2.25rem;
  }
}

.health-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.2rem;
}

.status-bar:last-child .health-bar {
  flex-direction: row-reverse;
}

.health-unit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-bar img {
  width: 2rem;
  aspect-ratio: 1 / 1;
}

@media (min-width: 992px) {
  .status-bar img {
    width: 2.25rem;
  }
}

@media (min-width: 1200px) {
  .status-bar img {
    width: 2.5rem;
  }
}

@media (min-width: 1400px) {
  .status-bar img {
    width: 2.75rem;
  }
}
