.status-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-around;
}

.status-item {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.contender {
  font-size: 1.5rem;
  display: flex;
  align-items: flex-start;
}

.health-bar {
  display: grid;
  grid-template-columns: repeat(5, 32px);
  gap: 3px;
  align-items: center;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.victories-bar {
  display: grid;
  grid-template-columns: repeat(2, 32px);
  gap: 0.2em;
  align-items: center;
}

.victory {
  display: flex;
  justify-content: center;
  align-items: center;
}

.victories-count {
  font-size: 2em;
  align-self: center;
  text-align: center;
}
