.status-bar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.status-bar:last-child .status-item {
  justify-content: end;
}

.status-item {
  display: flex;
  flex: 1;
}

.contender {
  font-size: 1.5em;
}

.contender.end {
  justify-content: end;
}

.health-bar {
  display: grid;
  grid-template-columns: repeat(5, 32px);
  gap: 3px;
  align-items: center;
}

.heart {
  display: flex;
  justify-content: center;
  align-items: center;
}

.victories-bar {
  display: grid;
  grid-template-columns: repeat(2, 32px);
  gap: 0.2em;
  align-items: center;
}

.victory {
  display: flex;
  justify-content: center;
  align-items: center;
}

.victories-count {
  font-size: 1.5em;
  line-height: 0px;
  align-self: center;
  text-align: center;
}
