body {
  font-size: 16px;
}

.emoji {
  /* TODO: incluir una fuente consistente de emojis */
  font-family: "Noto Color Emoji", "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 2em;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.button {
  aspect-ratio: 1 / 1;
  min-width: 4em;
  margin: 0.2em;
}
